<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Welcome page</title>
</head>
<body>
<h1>Welcome page</h1>
<h3>доступна без идентификации</h3>

<br>
<h3>

    <a th:href="@{/login/}">Войти (Login => Success Handler)</a>

    <br><br><br>
    <a th:href="@{/admin/}">CRUD операции (только ADMIN)</a>

    <br><br>
    <a th:href="@{/user/}">Страница пользователя (USER и ADMIN)</a>

    <br><br><br>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Выход"/>
    </form>

</h3>

</body>
</html>